html,
body {
    color: #323232;
    background-color: white;
    font-size: 14px;
    font-family: 'Gotham Book', sans-serif;
}

html.no-scroll {
    height: 100%;
    overflow-y: scroll;
}

.no-scroll body {
    height: 100%;
    overflow: hidden;
}

.text-orange {
    color: #fd4f00;
}

.text-inherit {
    font-size: inherit !important;
}

.bg-orange {
    background-color: #fd4f00;
}

.bg-dark {
    background-color: #323232 !important;
}

.white-space-nowrap {
    white-space: nowrap;
}



/*all about button*/

button:focus,
input:focus,
select:focus,
a:focus,
textarea:focus,
.btn,
.navbar-toggler,
.btn-close {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    transition: .36s;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-orange,
.badge-orange {
    background-color: #fd4f00;
    border-color: #fd4f00;
    color: white;
}

.btn-orange:hover {
    background-color: #fd3500;
    border-color: #fd3500;
    color: white;
}

.btn-light {
    background-color: #f1f2f2 !important;
    border-color: #f1f2f2 !important;
    color: #3a3a3a !important;
}

.btn-light:hover,
.btn-light.active {
    background-color: #dadada !important;
    border-color: #d3d3d3 !important;
    color: #3a3a3a !important;
}

.btn.collapsed .bi-chevron-up,
.btn .bi-chevron-down,
a.collapsed .bi-chevron-up,
a .bi-chevron-down,
.btn.collapsed .bi-dash,
.btn .bi-plus {
    display: none;
}

.btn .bi-chevron-up,
.btn.collapsed .bi-chevron-down,
a .bi-chevron-up,
a.collapsed .bi-chevron-down,
.btn.collapsed .bi-plus,
.btn .bi-dash {
    display: inline;
}



/*struktur*/

.wrapper {
    padding-top: 61px;
}

.wrapper section {
    margin-bottom: 5rem;
}

@media (min-width: 992px) {
    .wrapper {
        padding-top: 164px;
    }

    .wrapper section {
        margin-bottom: 8rem;
    }
}



/*copyright*/

#copyright {
    font-size: 12px;
}

#copyright,
#copyright a {
    color: #878787;
}

#copyright a {
    text-decoration: none;
    color: #565656;
}

#copyright a:hover,
#copyright a.active {
    color: #323232;
    text-decoration: underline;
}

#footer-sosmed a {
    text-decoration: none;
    margin: 0 10px;
}

#footer-sosmed a i {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 1px #565656;
    font-size: 1.75em;
    line-height: 1.5;
    transform: scale(1.0);
    transition: .36s;
}

#footer-sosmed a:hover i {
    transform: scale(1.25);
    border-color: #323232;
}



/*carousel banner*/

.carousel-banner .carousel-item {
    height: 100vh;
    background-color: #323232;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-banner .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to bottom, black, transparent);
}

.carousel-banner .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: .36s;
}



/*carousel control*/

.carousel-control {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    display: flex;
    align-items: center;
}

.carousel-control .carousel-control-prev,
.carousel-control .carousel-control-next {
    z-index: 100;
}

.carousel-control .carousel-indicators {
    width: auto;
    height: auto;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    line-height: 1;
}

.carousel-control .carousel-indicators .position-relative {
    width: 38px;
    height: 28px;
}

.carousel-control .carousel-indicators [data-bs-slide-to] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    text-indent: unset;
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    color: white;
    opacity: 0;
    visibility: hidden;
    font-family: 'Gotham Book', sans-serif;
    transition: .36s;
}

.carousel-control .carousel-indicators .active {
    opacity: 1;
    visibility: visible;
}

.carousel-control .carousel-indicators small {
    color: #c4c4c4;
    font-size: 65%;
}

@media (min-width: 992px) {
    .carousel-control {
        bottom: 3%;
        right: 3%;
    }
}



/*produk*/

/*.wrapper .card-produk {
    max-width: 210px;
    flex-basis: 210px;
}*/

.card-produk .card-header {
    background-color: #f1f2f2!important;
    /*background-color: transparent;*/
}

.card-produk .card-title {
    font-size: 1em;
    /*font-family: 'Gotham Bold';*/
    font-weight: 700;
}

.harga-produk del {
    text-decoration-color: #fd4f00;
}

.card-produk .btn-cart {
    background-color: #b4b4b4;
    color: white;
    font-size: 1em;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .card-produk .btn-cart {
        transition: .36s;
        background-color: #b4b4b4;
        opacity: 0;
        visibility: hidden;
        transform: scale(.5);
    }

    .card-produk .card-header:hover .btn-cart {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .card-produk .btn-cart:hover {
        background-color: #878787;
    }
}



/*produk out of stock*/

.card-produk .card-header {
    overflow: hidden;
}

.card-produk.out-stock .card-header::before {
    content: 'Out of Stock';
    font-size: 1.5em;
    font-family: 'Gotham Bold', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 242, 242, .875);
    /*background-image: radial-gradient(rgba(255, 255, 255, .75), white);*/
    backdrop-filter: blur(2px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fd4f00;
    opacity: 0;
    visibility: hidden;
    transition: .36s;
    transform: scale(1.25);
}

.card-produk.out-stock .btn-cart {
    display: none;
}

.card-produk.out-stock .promo {
    transition: .26s;
    transform: none;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991.98px) {
    .card-produk.out-stock .card-header::before {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .card-produk.out-stock .promo {
        display: none;
    }
}

@media (min-width: 992px) {
    .card-produk.out-stock .card-header:hover::before {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .card-produk.out-stock .card-header:hover .promo {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
}



/*all about modal*/

/*.modal-open,
.modal-open .fixed-top,
.modal-open .fixed-bottom,
.modal-open .position-fixed,
.modal-open .modal {
    padding-right: 0!important;
}*/

.modal.fade.modal-center .modal-dialog {
    transform: translate(0, 0) scale(.5);
}

.modal.show.modal-center .modal-dialog {
    transform: translate(0, 0) scale(1);
}



/*all about form check*/

.form-check label {
    cursor: pointer;
}

.form-check .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #d1d2d2;
    margin: 0;
}

.form-check input:checked ~ .checkmark {
    background-color: #878787;
}



/*navbar*/

.navbar {
    padding: 0;
    transition: .36s;
    transform: none;
    z-index: -1;
    overflow: hidden;
    position: relative;
}

.navbar .navbar-corner .navbar-nav .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
}

.navbar [type=search] {
 outline-offset: 0;
}

@media (max-width: 991.98px) {
    #navcol2 .border-top {
        border-color: transparent!important;
    }

    #navcol2 .col {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar.open-menu::before {
        content: '';
        position: absolute;
        top: 62px;
        width: 100%;
        height: 1px;
        background-color: #dee2e6;
    }

    #navcol1 form {
        border-top: solid 1px transparent;
    }

    #navcol2 .col {
        border-top: solid 1px #dee2e6;
    }

    #navcol1 form .input-group,
    #navcol2 .col header .container-fluid {
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: solid 1px #dee2e6;
    }
}

@media (min-width: 992px) {
    .nav-link span {
        position: relative;
    }

    .nav-link span::before {
        content: '';
        position: absolute;
        bottom: -.25rem;
        width: 0;
        height: 1px;
        transition: .36s;
        opacity: 0;
        visibility: hidden;
    }

    .nav-link:hover span::before {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    .navbar-corner .nav-link span::before,
    #navcol1 .nav-link span::before {
        left: 50%;
        transform: translateX(-50%);
    }

    #navcol2 .nav-link span::before {
        left: 0;
    }

    .navbar-dark .nav-link span::before {
        background-color: #b4b4b4;
    }

    .navbar-light .nav-link span::before,
    .no-scroll .navbar-dark .nav-link span::before,
    .navbar-dark.on-scroll .nav-link span::before {
        background-color: #323232;
    }
}

@media (min-width: 1400px) {
    .navbar .navbar-nav .nav-link,
    .navbar .navbar-corner .navbar-nav .nav-link {
        padding-left: .75rem;
        padding-right: .75rem;
    }
}



/*navbar corner*/

.navbar-corner .navbar-nav,
.navbar-corner .nav-item {
    position: relative;
}

.navbar-corner .navbar-nav::before {
    content: '|';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    color: inherit;
}

.navbar-corner .nav-item::before {
    content: '|';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    color: inherit;
}



/*navbar light*/

.navbar-light {
    background-color: white;
}

.navbar-light,
.navbar-light .navbar-nav .nav-link{
    color: rgba(0, 0, 0, .75);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: rgba(0, 0, 0, 1);
}



/*navbar dark*/

.navbar-dark,
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .75);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}



/*navbar brand*/

.navbar-brand {
    padding: .75rem 0;
}

.navbar-brand,
.navbar-brand img {
    transition: .36s;
}

@media (min-width: 992px) {
    .navbar-brand {
        padding: 3rem 0;
    }
}



/*navbar on scroll*/

.navbar.navbar-dark.on-scroll {
    background-color: white;
}

.navbar-dark.on-scroll,
.navbar-dark.on-scroll .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .75);
}

.navbar-dark.on-scroll .navbar-nav .nav-link:hover,
.navbar-dark.on-scroll .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 1);
}

@media (min-width: 992px) {
    .navbar.on-scroll .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .navbar.on-scroll .navbar-brand img {
        width: 50px;
    }
}



/*navbar scroll*/

.navbar.scroll {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}


/*navbar open menu*/

.navbar-dark.open-menu {
    background-color: white;
}

.navbar-dark.open-menu,
.navbar-dark.open-menu .navbar-nav .nav-link{
    color: rgba(0, 0, 0, .75);
}

.navbar-dark.open-menu .navbar-nav .nav-link:hover,
.navbar-dark.open-menu .navbar-nav .nav-link.active{
    color: rgba(0, 0, 0, 1);
}



/*navbar toggler*/

.navbar-toggler {
    font-size: 2.2em;
    width: 49px;
    height: 35.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler.collapsed .bi-list,
.navbar-toggler .bi-x {
    display: inline;
}

.navbar-toggler.collapsed .bi-x,
.navbar-toggler .bi-list {
    display: none;
}

.navbar-light .navbar-toggler,
.navbar-dark.on-scroll .navbar-toggler,
.navbar-dark.open-menu .navbar-toggler {
    color: black;
}

.navbar-dark .navbar-toggler {
    color: white;
}

/*navcol 2*/

@media (max-width: 991.98px) {
    #navcol2 .col {
        position: absolute;
        top: 62px;
        left: 0;
        background-color: white;
        z-index: 100;
        transition: .36s;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }

    #navcol2 .col.active {
        left: 0;
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

@media (min-width: 992px) {
    #navcol2 .col-lg-auto {
        margin-right: 5%;
    }

    #navcol2 .col-lg-auto:last-of-type,
    #navcol2 .col-lg-auto:nth-last-of-type(2) {
        margin-right: 0;
    }

    #navcol2 .inner-navcol2 {
        border-top: solid 1px transparent;
        transition: .36s;
    }

    #navcol2.show .inner-navcol2 {
        border-top: solid 1px #dee2e6;
    }
}


/*backdrop*/

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .75);
    opacity: 0;
    visibility: hidden;
    transition: .36s;
    /*-webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);*/
}

.no-scroll .backdrop {
    opacity: 1;
    visibility: visible;
}





/*slider produk*/

.slider-produk .carousel-inner .carousel-item.active .kolom-produk,
.slider-produk .carousel-inner .carousel-item-next .kolom-produk,
.slider-produk .carousel-inner .carousel-item-prev .kolom-produk {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.slider-produk .carousel-inner .carousel-item.active,
.slider-produk .carousel-inner .carousel-item-next,
.slider-produk .carousel-inner .carousel-item-prev {
    display: flex;
    background-color: white;
}

.slider-produk .carousel-inner .carousel-item-end.active,
.slider-produk .carousel-inner .carousel-item-next {
    transform: translateX(50%);
}

.slider-produk .carousel-inner .carousel-item-start.active, 
.slider-produk .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
}

@media (min-width: 768px) {

    .slider-produk .carousel-inner .carousel-item-end.active,
    .slider-produk .carousel-inner .carousel-item-next {
        transform: translateX(33.333333%);
    }

    .slider-produk .carousel-inner .carousel-item-start.active, 
    .slider-produk .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333333%);
    }
}

@media (min-width: 1200px) {

    .slider-produk .carousel-inner .carousel-item-end.active,
    .slider-produk .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .slider-produk .carousel-inner .carousel-item-start.active, 
    .slider-produk .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

@media (min-width: 1400px) {

    .slider-produk .carousel-inner .carousel-item-end.active,
    .slider-produk .carousel-inner .carousel-item-next {
        transform: translateX(20%);
    }

    .slider-produk .carousel-inner .carousel-item-start.active, 
    .slider-produk .carousel-inner .carousel-item-prev {
        transform: translateX(-20%);
    }
}

.slider-produk .carousel-inner .carousel-item-end,
.slider-produk .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

@media (min-width: 1400px) {
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 20%;
    }
}