html, body {
	font-family: 'Gotham Book', sans-serif;
	background-color: white;
	color: #3a3a3a;
	font-size: 14px;
}

button:focus, input:focus, select:focus, a:focus, textarea:focus,
.btn, .navbar-toggler, .btn-close {
	outline: none!important;
	box-shadow: none!important;
	text-decoration: none!important;
}

a, button, .btn, .navbar-toggler, input, textarea, .form-control {
	font-size: 1em;
	line-height: 1;
	border-radius: 0;
}

.navbar-toggler {
	font-size: 1.25rem;
}

.form-control::placeholder {
	color: inherit;
	opacity: .5;
}

.container {
	width: 95%;
	max-width: 1320px;
}	

main.wrapper section {
	min-height: 50vh;
	margin-bottom: 5rem;
}

@media (min-width: 992px) {
	.container-lg-fluid {
		width: 100%;
		max-width: 100%;
	}

	.border-lg-0 {
		border-width: 0!important;
	}
}

/* ---------------------------------------------------------
NAVBAR
--------------------------------------------------------- */