/*=================================================================
HOME BANNER
=================================================================*/

#home-banner .carousel-item:nth-of-type(1) {
	background-image: url(../../assets/img/landingSG/m_assorted.jpg);
}

#home-banner .carousel-item:nth-of-type(2) {
	background-image: url(../../assets/img/landingSG/m_exotic.jpg);
}

#home-banner .carousel-item:nth-of-type(3) {
	background-image: url(../../assets/img/landingSG/m_lampung.jpg);
}

@media (min-width: 992px) {
	#home-banner .carousel-item:nth-of-type(1) {
		background-image: url(../../assets/img/landingSG/d_assorted.jpg);
	}

	#home-banner .carousel-item:nth-of-type(2) {
		background-image: url(../../assets/img/landingSG/d_exotic.jpg);
	}

	#home-banner .carousel-item:nth-of-type(3) {
		background-image: url(../../assets/img/landingSG/d_lampung.jpg);
	}
}




/*=================================================================
TILES
=================================================================*/

#tiles .card-img-overlay {
	top: initial;
}

@media (max-width: 991.98px) {
	#tiles .container-fluid {
		padding: 0;
	}

	#tiles .row {
		margin-left: -.5rem;
	}

	#tiles .col {
		padding-left: .5rem;
		margin-top: .5rem;
	}
}

@media (min-width: 992px) {
	#tiles .col {
		margin-top: 15px;
	}

	#tiles .col-md-6 .card-img-overlay {
		padding: 7%;
	}

	#tiles .col-md-6 .card-title {
		font-size: calc(1.75rem + .1vw);
	}

	#tiles .col .card-img {
		opacity: .9;
		transition: .36s;
	}

	#tiles .col:hover .card-img {
		opacity: 1;
	}
}