#open-filter.collapsed .bi-chevron-down {
	display: inline;
}

#open-filter.collapsed .bi-chevron-up {
	display: none;
}

#open-filter .bi-chevron-down {
	display: none;
}

#open-filter .bi-chevron-up {
	display: inline;
}