html, body {
	font-family: 'Gotham Book', sans-serif;
	background-color: white;
	color: #3a3a3a;
	font-size: 14px;
}

.form-control::placeholder {
	color: inherit;
	opacity: .5;
}

.lh-1 {
	line-height: 1;
}

.opacity-50 {
	opacity: .5;
}

@media (min-width: 992px) {
	.border-lg-0 {
		border-width: 0!important;
	}
}

/*all about no scroll*/

html.no-scroll {
	height: 100%;
	overflow-y: scroll;
}

.no-scroll body {
	height: 100%;
	overflow: hidden;
}

.backdrop-no-scroll {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	visibility: hidden;
	transition: .36s;
	/*-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);*/
}

.no-scroll .backdrop-no-scroll {
	opacity: 1;
	visibility: visible;
}

/*struktur*/

.container,
.container-lg {
	width: 95%;
	max-width: 1320px;
}

@media (min-width: 992px) {
	.container,
	.container-lg {
		width: 90%;
	}
}

main.wrapper {
	min-height: 50vh;
}

main.wrapper section {
	margin-bottom: 5rem;
}

.breadcrumb {
	padding: 0;
	background-color: transparent;
}

.border-secondary {
	border-color: #b4b4b4!important;
}

@media (min-width: 992px) {
	main.wrapper section {
		margin-bottom: 10rem;
	}

	.container-lg-fluid {
		width: 100%;
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.border-xl-left {
		border-left: solid 1px #6c757d!important;
	}
}

@media (min-width: 1400px) {
	.row-cols-xxl-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

/*all about button*/

button:focus, input:focus, select:focus, a:focus, textarea:focus,
.btn, .navbar-toggler, .btn-close {
	outline: none!important;
	box-shadow: none!important;
	text-decoration: none!important;
}

a, button, .btn, .navbar-toggler, input, textarea, .form-control {
	font-size: 1em;
	border-radius: 0;
}

.navbar-toggler {
	font-size: 1.25rem;
}

.btn-orange {
	background-color: #fd4f00;
	border-color: #fd4f00;
	color: white;
	border-radius: .25rem;
}

.btn-orange:hover {
	background-color: #fd3500;
	border-color: #fd3500;
	color: white;
}

/* ---------------------------------------------------------
NAVBAR
--------------------------------------------------------- */

#main-header,
.navbar,
.navbar-brand img {
	transition: .36s;
}

#navtop .navbar-nav .nav-link {
	padding-left: .5rem;
	padding-right: .5rem;
	position: relative;
}

#navtop .navbar-corner,
#navtop .navbar-corner .nav-item {
	position: relative;
}

#navtop .navbar-corner::before,
#navtop .navbar-corner .nav-item::before {
	content: '|';
	position: absolute;
	top: 50%;
}

#navtop .navbar-corner::before {
	right: 0;
	transform: translate(50%, -50%);
}

#navtop .navbar-corner .nav-item::before {
	left: 0;
	transform: translate(-50%, -50%);
}

@media (max-width: 991.98px) {
	#navtop .navbar-toggler {
		margin-right: -.85rem;
		width: 47.5px;
		height: 33.25px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#navtop .navbar-toggler .navbar-toggler-icon {
		display: none;
	}

	#navtop .navbar-toggler .bi-x-lg {
		display: block;
	}

	#navtop .navbar-toggler.collapsed .navbar-toggler-icon {
		display: block;
	}

	#navtop .navbar-toggler.collapsed .bi-x-lg {
		display: none;
	}

	#navcol1 .menu,
	#navcol1 .submenu {
		height: calc(100vh - 66px);
	}

	#navcol1 .submenu {
		position: absolute;
		top: 0;
		left: 100%;
		background-color: white;
		padding: 0;
		transition: .36s;
		opacity: 0;
		visibility: hidden;
	}

	#navcol1 .submenu.active {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	#navcol1 .menu form .btn,
	#navcol1 .submenu header .btn {
		width: 42px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -.75rem;
	}
}

@media (min-width: 992px) {
	#navtop {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	#navtop.to-top {
		padding-top: .75rem;
		padding-bottom: .75rem;
	}

	#navtop.to-top .navbar-brand img.d-lg-block {
		width: 60px;
	}

	#navcol1 .img-tumbnails {
		max-width: 175px;
	}

	#navcol1 .col-lg-auto {
		margin-right: 2rem;
	}

	#navcol1 .col-lg-auto:nth-last-of-type(2) {
		margin-right: 0;
	}

	/*animasi hover nav-link*/

	.navbar-nav .nav-link span {
		position: relative;
	}

	.navbar-nav .nav-link span::before {
		content: '';
		position: absolute;
		bottom: -.25rem;
		width: 0;
		height: 2px;
		transition: .36s;
	}

	.navbar-nav .nav-link:hover span::before,
	.navbar-nav .nav-link.active span::before {
		width: 100%;
	}

	#navtop .navbar-nav .nav-link span::before {
		left: 50%;
		transform: translateX(-50%);
	}

	#navcol1 .navbar-nav .nav-link span::before {
		left: 0;
	}
}

/*navbar dark*/

.carousel-banner.bg-navbar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(to bottom, black, transparent);
	z-index: 1;
}

@media (min-width: 992px) {
	.carousel-banner.bg-navbar::before {
		height: 480px;
	}
}

.navbar.navbar-dark .navbar-corner::before,
.navbar.navbar-dark .navbar-corner .nav-item::before {
	color: rgba(255,255,255,.5);
}

.navbar.navbar-dark .navbar-nav .nav-link span::before {
	background-color: rgba(255,255,255,.5);
}

.navbar.navbar-dark.invert,
.navbar.navbar-dark.menu-open {
	background-color: white;
}

.navbar.navbar-dark.invert .navbar-nav .nav-link,
.navbar.navbar-dark.menu-open .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .5);
}

.navbar.navbar-dark.invert .navbar-nav .nav-link:hover,
.navbar.navbar-dark.invert .navbar-nav .nav-link.active,
.navbar.navbar-dark.menu-open .navbar-nav .nav-link:hover,
.navbar.navbar-dark.menu-open .navbar-nav .nav-link.active {
	color: rgba(0, 0, 0, 1.0);
}

.navbar-dark .navbar-toggler {
	color: black;
}

.navbar-dark.invert .navbar-toggler .navbar-toggler-icon {
	filter: invert(1);
}

/*navbar light*/

.navbar.navbar-light {
	background-color: white;
}

.navbar.navbar-light .navbar-corner::before,
.navbar.navbar-light .navbar-corner .nav-item::before,
.navbar.navbar-dark.invert .navbar-corner::before,
.navbar.navbar-dark.invert .navbar-corner .nav-item::before,
.navbar.navbar-dark.menu-open .navbar-corner::before,
.navbar.navbar-dark.menu-open .navbar-corner .nav-item::before {
	color: rgba(0,0,0,.5);
}

.navbar.navbar-light .navbar-nav .nav-link span::before,
.navbar.navbar-dark.invert .navbar-nav .nav-link span::before,
.navbar.navbar-dark.menu-open .navbar-nav .nav-link span::before {
	background-color: rgba(0,0,0,.5);
}

/* ---------------------------------------------------------
COPYRIGHT
--------------------------------------------------------- */

#copyright {
	font-size: 12px;
	color: #878787;
	text-align: center;
}

#copyright a {
	font-size: 12px;
	color: #565656;
	text-decoration: none;
}

#copyright a:hover,
#copyright a.active {
	color: #3a3a3a;
	text-decoration: underline;
}

#breadcrumb1,
#breadcrumb2 {
	justify-content: center;
}

#breadcrumb1 .breadcrumb-item::before,
#breadcrumb2 .breadcrumb-item:first-of-type::before {
	content: '';
}

#breadcrumb2 .breadcrumb-item::before {
	content: '|';
}

#footer-sosmed a {
	text-decoration: none!important;
	margin: 0 10px;
}

#footer-sosmed a i {
	width: 32px;
	height: 32px;
	border-radius:  100%;
	border: solid 1px #878787;
	font-size: 1.75em;
	line-height: 1.5;
	transform: scale(1.0);
	transition: .36s;
}

#footer-sosmed a:hover i {
	transform: scale(1.25);
	border-color: #3a3a3a;
}

@media (min-width: 992px) {
	#breadcrumb1 .breadcrumb-item {
		padding: 0 .75rem;
	}
}

/*carousel dark*/

.carousel-dark,
.carousel-dark .carousel-item {
	background-color: #3a3a3a;
}

.carousel-dark .carousel-caption,
.carousel-dark .carousel-number {
	color: white;
}

.carousel-dark .carousel-control-prev,
.carousel-dark .carousel-control-next,
.carousel-dark .carousel-indicators li {
	color: white;
	border-width: 0;
	background-color: transparent;
}

/*carousel banner*/

.carousel-banner .carousel-item {
	height: 100vh;
}

/*carousel control*/

.carousel-control {
	position: absolute;
	bottom: 2%;
	right: 2%;
	display: flex;
	z-index: 100;
	font-size: 2rem;
}

.carousel-control .carousel-control-prev,
.carousel-control .carousel-control-next {
	display: block;
	width: auto;
	padding: 0;
}

.carousel-control .carousel-indicators,
.carousel-control .carousel-indicators li {
	width: 42px;
	height: 42px;
}

.carousel-control .carousel-indicators li {
	text-indent: initial;
	border-width: 0;
	margin: 0;
	text-align: center;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: .36s;
	cursor: none;
}

.carousel-control .carousel-indicators li.active {
	opacity: 1;
	visibility: visible;
}